*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  background: #2E2E2E;
  overflow: hidden;
}

// __________= Header =__________

.header {
  padding: 10px 0px;
  .header__title {

    .header__layer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      font-family: 'Modak';
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 96px;
      text-align: center;
      -webkit-text-stroke: 1.5px #2E2E2E;
      transition: 0.2s;
      &.header__layer_main {
        position: relative;
        z-index: 0;
      }
      &.header__layer_back {
        position: absolute;
        top: 10px;
      }
    }
  }
  .header__suptitle {
    font-family: 'Modak';
    -webkit-text-stroke: 1px #FEB958;
    font-size: 25px;
    text-align: center;
    color: #FEF7EC;
    margin-top: 25px;
    animation-name: pulse, changeColor;
    animation-duration: 1s, 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .header__advice {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.5vh;
    .header__content {
      display: flex;
      align-items: center;
      text-align: right;
      color: #FEF7EC;
      padding: 0.5vh 1vh;
      border-radius: 1vh 0px 0px 1vh;
      background: #5A5A95;
      .header__icon {
        width: 2vh;
        fill: #FEB958;
        margin-right: 1.5vh;
      }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes changeColor {
  0% {
    -webkit-text-stroke: 1px #FEB958;
  }
  33% {
    -webkit-text-stroke: 1px #FD6E50;
  }
  66% {
    -webkit-text-stroke: 1px #E15A8C;
  }
  100% {
    -webkit-text-stroke: 1px #5A5A95;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
  .main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 19vw;
    height: 70vh;
    padding: 30vh 0px 10vh;
    background: #FEF7EC;
    .main__text {

      width: 19vw;
      text-align: center;

      font-size: 3vh;
      color: #FEF7EC;
      user-select: none;
      -webkit-text-stroke: 0.1vh #5A5A95;
      position: relative;
      .main__hex {
        font-family: 'Modak';
      }
      .main__copy {
        width: 11vw;
        font-size: 1.5vh;
        border-radius: 0.5vh;
        padding: 0.5vh;
        background: rgba(46, 46, 46, 0.6);
        -webkit-text-stroke: 0.00vh transparent;
        position: absolute;
        top: -3vh;
        left: 1vw;
        transition: 0.4s;
        opacity: 0;
      }
      .main__copied {
        width: 5vw;
        font-size: 1.5vh;
        border-radius: 0.5vh;
        padding: 0.5vh;
        background: rgba(46, 46, 46, 0.6);
        -webkit-text-stroke: 0.00vh transparent;
        position: absolute;
        top: 5vh;
        left: 7vw;
        transition: 0.4s;
        opacity: 0;
        &.show {
          opacity: 1;
        }
      }
    }
    .main__text:hover .main__copy{
      opacity: 1;
    }
    .main__lock {
      width: 3vw;
      fill: #2E2E2E;
      cursor: pointer;
      margin-left: 0.7vw;
      &.locked {
        width: 2.305vw;
        margin-left: 0.05vw;
      }
    }
  }
}